<div class="colourbox">
    <button style="background-color: rgb(221, 17, 116);" class="box" (click)="changeColor('rgb(221, 17, 116)')"></button>
    <button style="background-color: rgb(173, 12, 68);" class="box" (click)="changeColor('rgb(173, 12, 68)')"></button>
    <button style="background-color: rgb(204, 4, 4);" class="box" (click)="changeColor('rgb(204, 4, 4)')"></button>
    <button style="background-color: rgb(149, 51, 0);" class="box" (click)="changeColor('rgb(149, 51, 0)')"></button>
    <!-- Second Row -->
    <button style="background-color: rgb(187, 247, 218);" class="box" (click)="changeColor('rgb(187, 247, 218)')"></button>
    <button style="background-color: rgb(7, 61, 32);" class="box" (click)="changeColor('rgb(7, 61, 32)')"></button>
    <button style="background-color: rgb(0, 168, 107);" class="box" (click)="changeColor('rgb(0, 168, 107)')"></button>
    <button style="background-color: rgb(75, 94, 51);" class="box" (click)="changeColor('rgb(75, 94, 51)')"></button>
    <!-- Third Row -->
    <button style="background-color: rgb(244, 243, 169);" class="box" (click)="changeColor('rgb(244, 243, 169)')"></button>
    <button style="background-color: rgb(255, 255, 49);" class="box" (click)="changeColor('rgb(255, 255, 49)')"></button>
    <button style="background-color: rgb(249, 221, 79);" class="box" (click)="changeColor('rgb(249, 221, 79)')"></button>
    <button style="background-color: rgb(221, 180, 33);" class="box" (click)="changeColor('rgb(221, 180, 33)')"></button>    
    <!-- Fourth Row -->
    <button style="background-color: rgb(255, 232, 236);" class="box" (click)="changeColor('rgb(255, 232, 236)')"></button>
    <button style="background-color: rgb(130, 11, 90);" class="box" (click)="changeColor('rgb(130, 11, 90)')"></button>
    <button style="background-color: rgb(249, 139, 136);" class="box" (click)="changeColor('rgb(249, 139, 136)')"></button>
    <button style="background-color: rgb(219, 158, 120);" class="box" (click)="changeColor('rgb(219, 158, 120)')"></button>    
    <!-- Fivth Row -->
    <button style="background-color: rgb(193, 174, 174);" class="box" (click)="changeColor('rgb(193, 174, 174)')"></button>
    <button style="background-color: rgb(71, 38, 15);" class="box" (click)="changeColor('rgb(71, 38, 15)')"></button>
    <button style="background-color: rgb(156, 108, 74);" class="box" (click)="changeColor('rgb(156, 108, 74)')"></button>
    <button style="background-color: rgb(99, 48, 22);" class="box" (click)="changeColor('rgb(99, 48, 22)')"></button>
    <!-- Sixth Row -->
    <button style="background-color: rgb(137, 171, 227);" class="box" (click)="changeColor('rgb(137, 171, 227)')"></button>
    <button style="background-color: rgb(0, 51, 102);" class="box" (click)="changeColor('rgb(0, 51, 102)')"></button>
    <button style="background-color: rgb(117, 239, 239);" class="box" (click)="changeColor('rgb(117, 239, 239)')"></button>
    <button style="background-color: rgb(50, 104, 114);" class="box" (click)="changeColor('rgb(50, 104, 114)')"></button>    
</div>
