<div class="colourbox">
    <button style="background-color: rgb(245, 242, 232);" class="box-4" (click)="changeColor('rgb(245, 242, 232)')"></button>
    <button style="background-color: rgb(255, 255, 255);" class="box-4" (click)="changeColor('rgb(255, 255, 255)')"></button>
    <button style="background-color: rgb(252, 252, 224);" class="box-4" (click)="changeColor('rgb(252, 252, 224)')"></button>
    <button style="background-color: rgb(255, 235, 205);" class="box-4" (click)="changeColor('rgb(255, 235, 205)')"></button>
    <!-- Second Row -->
    <button style="background-color: rgb(248, 227, 227);" class="box-2" (click)="changeColor('rgb(248, 227, 227)')"></button>
    <button style="background-color: rgb(255, 236, 217);" class="box-2" (click)="changeColor('rgb(255, 236, 217)')"></button>
    <!-- Third Row -->
    <button style="background-color: rgb(168, 169, 173);" class="box-4" (click)="changeColor('rgb(168, 169, 173)')"></button>
    <button style="background-color: rgb(113, 117, 119);" class="box-4" (click)="changeColor('rgb(113, 117, 119)')"></button>
    <button style="background-color: rgb(212, 175, 55);" class="box-4" (click)="changeColor('rgb(212, 175, 55)')"></button>
    <button style="background-color: rgb(176, 144, 61);" class="box-4" (click)="changeColor('rgb(176, 144, 61)')"></button>
    <!-- Second Row -->
    <button style="background-color: black;" class="box-1" (click)="changeColor('black')"></button>    
</div>
