<div class="colourbox">
    <p class="box-heading">Winter Neutral</p>
    <button style="background-color: rgb(255, 255, 255);" class="box" (click)="changeColor('rgb(255, 255, 255)')"></button>
    <button style="background-color: rgb(22, 28, 43);" class="box" (click)="changeColor('rgb(22, 28, 43)')"></button>
    <button style="background-color: rgb(55, 62, 79);" class="box" (click)="changeColor('rgb(55, 62, 79)')"></button>
    <button style="background-color: rgb(37, 52, 86);" class="box" (click)="changeColor('rgb(37, 52, 86)')"></button>
    <p class="box-heading">Winter Secondary to be Worn Away From Face</p>
    <button style="background-color: rgb(51, 84, 122);" class="box" (click)="changeColor('rgb(51, 84, 122)')"></button>
    <button style="background-color: rgb(50, 55, 61);" class="box" (click)="changeColor('rgb(50, 55, 61)')"></button>
    <button style="background-color: rgb(39, 42, 45);" class="box" (click)="changeColor('rgb(39, 42, 45)')"></button>    
</div>
