<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

<!-- SIDE BAR STARTS HERE ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="sidebar" [ngClass]="{'open': isSidebarOpen}">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
      <div class="logo_name">INTERLAND</div>
      <i class='bx bx-menu' (click)="toggleSidebar()" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a (click)="goToDashboard()">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      <li>
       <a (click)="listUsers()">
         <i class='bx bx-user'></i>
         <span class="links_name">Clients</span>
       </a>
       <span class="tooltip">List Clients</span>
     </li>
     <li>
       <a (click)="addClient()">
         <i class='bx bx-plus'></i>
         <span class="links_name">Add Clients</span>
       </a>
       <span class="tooltip">Add Clients</span>
     </li>
     <li>
       <a (click)="showDress()">
         <i class='bx bx-pie-chart-alt-2'></i>
         <span class="links_name">Show Seasonal Colours</span>
       </a>
       <span class="tooltip">Show Seasonal Colours</span>
     </li>
     <li>
       <a (click)="viewCodeBase()">
         <i class='bx bx-desktop'></i>
         <span class="links_name">Main Drapes</span>
       </a>
       <span class="tooltip">Main Drapes</span>
     </li>
     <li>
        <a (click)="logout()">
          <i class='bx bx-notepad'></i>          
          <span class="links_name">Show Notes</span>
        </a>
        <span class="tooltip">Show Notes</span>
      </li>
    </ul>
</div>
<!-- SIDE BAR ENDS HERE ************************************************************************ -->
