<div class="colourbox">
    <p class="box-heading">Spring Neutral</p>
    <button style="background-color: rgb(251, 250, 245);" class="box" (click)="changeColor('rgb(251, 250, 245)')"></button>
    <button style="background-color: rgb(35, 74, 112);" class="box" (click)="changeColor('rgb(35, 74, 112)')"></button>
    <button style="background-color: rgb(143, 143, 143);" class="box" (click)="changeColor('rgb(143, 143, 143)')"></button>
    <button style="background-color: rgb(96, 80, 67);" class="box" (click)="changeColor('rgb(96, 80, 67)')"></button>
    <p class="box-heading">Spring Secondary to be Worn Away From Face</p>
    <button style="background-color: rgb(147, 132, 122);" class="box" (click)="changeColor('rgb(147, 132, 122)')"></button>
    <button style="background-color: rgb(53, 53, 48);" class="box" (click)="changeColor('rgb(53, 53, 48)')"></button>
    <button style="background-color: rgb(127, 127, 116);" class="box" (click)="changeColor('rgb(127, 127, 116)')"></button>
</div>
