<app-nav-bar></app-nav-bar>
<div class="container full-height d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://images.pexels.com/photos/1152359/pexels-photo-1152359.jpeg?cs=srgb&dl=pexels-marctutorials-298692-1152359.jpg&fm=jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Summer Drapes</h5>
            <p class="card-text">Soft pastels, cool neutrals, and muted tones complement cool undertones, giving the skin a soft, elegant appearance.</p>
            <a class="btn btn-dark" style="color: white;" (click)="gotoDressSelectorSummer()">Go to Summer Drapes</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://images.pexels.com/photos/688660/pexels-photo-688660.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Winter Drapes</h5>
            <p class="card-text">Deep jewel tones, bold neutrals, and bright accents highlight cool undertones, making features appear defined and striking.</p>
            <a class="btn btn-dark" style="color: white;" (click)="gotoDressSelectorWinter()">Go to Winter Drapes</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://en-chatelaine.mblycdn.com/uploads/ench/2021/03/feature.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Spring Drapes</h5>
            <p class="card-text">Light pastels, warm neutrals, and bright colors enhance warm undertones, making the face vibrant and lively.</p>
            <a class="btn btn-dark" style="color: white;" (click)="gotoDressSelectorSpring()">Go to Spring Drapes</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR26Zt-tXCzCpH9PyvwR5hvI0rPMLi3s7k9uw&s" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Autumn Drapes</h5>
            <p class="card-text">Earthy tones, warm neutrals, and rich colors enhance warm undertones, giving the face a healthy, glowing appearance.</p>
            <a class="btn btn-dark" style="color: white;" (click)="gotoDressSelectorAutumn()">Go to Autumn Drapes</a>
          </div>
        </div>
      </div>
    </div>
</div>