.colourbox
{
  position: relative;
  padding-top: 6%;
  width: 300px;
  height: 500px;
  /* border: 1px solid #ccc; */
  display: flex;
  flex-wrap: wrap; 
  align-items: left;
  justify-content: space-around;
  overflow: hidden;
}
.box
{
  padding-top: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  width: 70px;
  height: 40px;
  border: 0.5px solid #f8f8f8;
  display: flex;
  align-items: left;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  
}
.box-heading
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    width:270px;
    margin:30px;
    font-size: large;
    justify-content: center;
    font-weight: bold;

}