<div class="colourbox">
    <p class="box-heading">Summer Colours</p>
    <button style="background-color: rgb(221, 17, 116);" class="box-3" (click)="changeColor('rgb(221, 17, 116)')"></button>
    <button style="background-color: rgb(187, 247, 218);" class="box-3" (click)="changeColor('rgb(187, 247, 218)')"></button>
    <button style="background-color: rgb(244, 243, 169);" class="box-3" (click)="changeColor('rgb(244, 243, 169)')"></button>
    <!-- Second Row -->
    <button style="background-color: rgb(193, 174, 174);" class="box-3" (click)="changeColor('rgb(193, 174, 174)')"></button>
    <button style="background-color: rgb(255, 232, 236);" class="box-3" (click)="changeColor('rgb(255, 232, 236)')"></button>
    <button style="background-color: rgb(137, 171, 227);" class="box-3" (click)="changeColor('rgb(137, 171, 227)')"></button>
    <p class="box-heading">Summer Additional Colours</p>
    <button style="background-color: rgb(238, 226, 238);" class="box-4" (click)="changeColor('rgb(238, 226, 238)')"></button>
    <button style="background-color: rgb(149, 214, 204);" class="box-4" (click)="changeColor('rgb(149, 214, 204)')"></button>
    <button style="background-color: rgb(105, 160, 101);" class="box-4" (click)="changeColor('rgb(105, 160, 101)')"></button>
    <button style="background-color: rgb(81, 111, 163);" class="box-4" (click)="changeColor('rgb(81, 111, 163)')"></button>
    <!-- Second Row -->
    <button style="background-color: rgb(250, 220, 217);" class="box-4" (click)="changeColor('rgb(250, 220, 217)')"></button>
    <button style="background-color: rgb(211, 129, 166);" class="box-4" (click)="changeColor('rgb(211, 129, 166)')"></button>
    <button style="background-color: rgb(165, 164, 164);" class="box-4" (click)="changeColor('rgb(165, 164, 164)')"></button>
    <button style="background-color: rgb(54, 77, 112);" class="box-4" (click)="changeColor('rgb(54, 77, 112)')"></button>
    
</div>
