<div class="colourbox">
    <p class="box-heading">Autumn Colours</p>
<!-- First Row -->
<button style="background-color: rgb(149, 51, 0);" class="box-3" (click)="changeColor('rgb(149, 51, 0)')"></button>
<button style="background-color: rgb(75, 94, 51);" class="box-3" (click)="changeColor('rgb(75, 94, 51)')"></button>
<button style="background-color: rgb(221, 180, 33);" class="box-3" (click)="changeColor('rgb(221, 180, 33)')"></button>
<!-- Second Row -->
<button style="background-color: rgb(99, 48, 22);" class="box-3" (click)="changeColor('rgb(99, 48, 22)')"></button>
<button style="background-color: rgb(219, 158, 120);" class="box-3" (click)="changeColor('rgb(219, 158, 120)')"></button>
<button style="background-color: rgb(50, 104, 114);" class="box-3" (click)="changeColor('rgb(50, 104, 114)')"></button>
<p class="box-heading">Autumn Additional Colours</p>
<!-- First Row -->
<button style="background-color: rgb(114, 99, 160);" class="box-4" (click)="changeColor('rgb(114, 99, 160)')"></button>
<button style="background-color: rgb(52, 124, 122);" class="box-4" (click)="changeColor('rgb(52, 124, 122)')"></button>
<button style="background-color: rgb(79, 107, 46);" class="box-4" (click)="changeColor('rgb(79, 107, 46)')"></button>
<button style="background-color: rgb(204, 85, 0);" class="box-4" (click)="changeColor('rgb(204, 85, 0)')"></button>
<!-- Second Row -->
<button style="background-color: rgb(201, 83, 60);" class="box-4" (click)="changeColor('rgb(201, 83, 60)')"></button>
<button style="background-color: rgb(140, 102, 118);" class="box-4" (click)="changeColor('rgb(140, 102, 118)')"></button>
<button style="background-color: rgb(99, 89, 89);" class="box-4" (click)="changeColor('rgb(99, 89, 89)')"></button>
<button style="background-color: rgb(47, 51, 94);" class="box-4" (click)="changeColor('rgb(47, 51, 94)')"></button>
</div>
