<div class="colourbox">
    <p class="box-heading">Autumn Neutral</p>
    <button style="background-color: rgb(255, 235, 205);" class="box" (click)="changeColor('rgb(255, 235, 205)')"></button>
    <button style="background-color: rgb(67, 88, 114);" class="box" (click)="changeColor('rgb(67, 88, 114)')"></button>
    <button style="background-color: rgb(142, 123, 102);" class="box" (click)="changeColor('rgb(142, 123, 102)')"></button>
    <button style="background-color: rgb(119, 82, 45);" class="box" (click)="changeColor('rgb(119, 82, 45)')"></button>
    <p class="box-heading">Autumn Secondary to be Worn Away From Face</p>
    <button style="background-color: rgb(155, 148, 133);" class="box-3" (click)="changeColor('rgb(155, 148, 133)')"></button>
    <button style="background-color: rgb(107, 101, 88);" class="box-3" (click)="changeColor('rgb(107, 101, 88)')"></button>
    <button style="background-color: rgb(53, 50, 44);" class="box-3" (click)="changeColor('rgb(53, 50, 44)')"></button>    
</div>
