<div class="colourbox">
    <p class="box-heading">Winter Colours</p>
    <button style="background-color: rgb(173, 12, 68);" class="box-3" (click)="changeColor('rgb(173, 12, 68)')"></button>
    <button style="background-color: rgb(7, 61, 32);" class="box-3" (click)="changeColor('rgb(7, 61, 32)')"></button>
    <button style="background-color: rgb(255, 255, 49);" class="box-3" (click)="changeColor('rgb(255, 255, 49)')"></button>
    <button style="background-color: rgb(71, 38, 15);" class="box-3" (click)="changeColor('rgb(71, 38, 15)')"></button>
    <button style="background-color: rgb(130, 11, 90);" class="box-3" (click)="changeColor('rgb(130, 11, 90)')"></button>
    <button style="background-color: rgb(0, 51, 102);" class="box-3" (click)="changeColor('rgb(0, 51, 102)')"></button>
    <p class="box-heading">Winter Additional Colours</p>
    <button style="background-color: rgb(54, 9, 137);" class="box-4" (click)="changeColor('rgb(54, 9, 137)')"></button>
    <button style="background-color: rgb(27, 121, 49);" class="box-4" (click)="changeColor('rgb(27, 121, 49)')"></button>
    <button style="background-color: rgb(59, 107, 74);" class="box-4" (click)="changeColor('rgb(59, 107, 74)')"></button>
    <button style="background-color: rgb(3, 34, 96);" class="box-4" (click)="changeColor('rgb(3, 34, 96)')"></button>
    <button style="background-color: rgb(77, 0, 19);" class="box-4" (click)="changeColor('rgb(77, 0, 19)')"></button>
    <button style="background-color: rgb(158, 58, 103);" class="box-4" (click)="changeColor('rgb(158, 58, 103)')"></button>
    <button style="background-color: rgb(76, 75, 75);" class="box-4" (click)="changeColor('rgb(76, 75, 75)')"></button>
    <button style="background-color: rgb(21, 24, 56);" class="box-4" (click)="changeColor('rgb(21, 24, 56)')"></button>    
</div>
